/*-----------------
 $COLORS
-----------------*/
/*-----------------
 $FONTS
-----------------*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  background: radial-gradient(50% 50% at 50% 50%, #ff84b7 0%, #e899f2 100%);
}

body {
  height: 100vh;
  width: 100vw;
}

.button {
  padding: 8px 20px;
  font: bold 1.6rem/2rem "Poppins", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 5px;
}

.button.primary {
  border: solid 4px #440a67;
  background-color: #440a67;
  color: white;
}
.button.primary:hover {
  background: #500c7a;
}

.button.secondary {
  color: #440a67;
  border: solid 4px #440a67;
}

.social {
  display: flex;
  flex-direction: row;
}
.social .social-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 3px;
  height: 40px;
  width: 40px;
  font-size: 1.4rem;
  text-decoration: none;
  background: #ffffff;
  border-radius: 2px;
  border: 2px solid #440a67;
}

.header {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1280px;
  margin: 0 auto;
}
.header ul {
  display: none;
}
@media only screen and (max-width: 475px) {
  .header {
    padding: 0 calc((100% - 280px) / 2);
  }
}

.main-container {
  width: 100vw;
  height: 90%;
  display: block;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  margin: 0;
}
.main-container section {
  height: 90vh;
  width: 100vw;
  scroll-snap-align: start;
}
.main-container .introduction {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-container .introduction p {
  text-align: center;
  font: 100 2rem/2.5rem "Poppins", sans-serif;
}
.main-container .introduction p span:nth-child(2) {
  display: block;
  font: bold 2.2rem/2.6rem "Poppins", sans-serif;
}
@media only screen and (max-width: 475px) {
  .main-container .introduction {
    padding: 0 calc((100% - 280px) / 2);
    height: 550px;
    gap: 16px;
  }
}
.main-container .proyecto01 {
  display: flex;
  align-items: center;
}
.main-container .proyecto01 .proyeto-info {
  display: flex;
  flex-direction: column;
  width: 40%;
}
.main-container .proyecto01 .proyeto-info h2 {
  font: bold 3rem/4.5rem "Poppins", sans-serif;
  color: white;
  padding-left: 10px;
  max-width: 280px;
  margin-left: 20px;
  margin-bottom: 5px;
  background-color: #440a67;
  box-shadow: -4px 4px 0px #ffffff;
}
.main-container .proyecto01 .proyeto-info p {
  font: 400 1.6rem/2.5rem "Poppins", sans-serif;
}
.main-container .proyecto01 .proyeto-info div {
  padding-top: 16px;
  display: flex;
  align-items: center;
}
.main-container .proyecto01 .proyeto-info div a {
  margin-right: 16px;
}
.main-container .proyecto01 .proyecto-photo {
  padding-top: 5px;
  width: 50%;
  text-align: center;
}
.main-container .proyecto01 .proyecto-photo img {
  width: 90%;
}
@media only screen and (max-width: 475px) {
  .main-container .proyecto01 {
    display: block;
    height: 550px;
    gap: 16px;
  }
  .main-container .proyecto01 .proyeto-info {
    width: 100%;
  }
  .main-container .proyecto01 .proyeto-info div {
    flex-direction: column;
    gap: 16px;
  }
  .main-container .proyecto01 .proyeto-info div a {
    text-align: center;
    width: 100%;
    margin: 0 10px;
  }
  .main-container .proyecto01 .proyecto-photo {
    width: 100%;
  }
  .main-container .proyecto01 .proyecto-photo img {
    width: 280px;
  }
}
.main-container .proyecto01 {
  flex-direction: row-reverse;
}

.hero {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1280px;
  padding: 0 auto;
}
.hero .user-photo {
  width: 280px;
  display: block;
  margin: 0 auto;
}
.hero .user-photo img {
  width: 100%;
}
.hero .user-info {
  display: block;
  margin: 0 auto;
  padding: 0;
  width: 280px;
}
.hero .user-info h1 {
  font: bold 2.2rem/2.6rem "Poppins", sans-serif;
}
.hero .user-info h1 span:nth-child(2) {
  display: block;
  font: bold 4.2rem/5rem "Poppins", sans-serif;
}
.hero .user-info p {
  font: 400 1.6rem/2.5rem "Poppins", sans-serif;
}
@media only screen and (max-width: 425px) {
  .hero {
    flex-direction: column;
    justify-items: center;
    height: 550px;
    gap: 16px;
  }
}

/*# sourceMappingURL=main.css.map */
