.formulario {
  padding-top: 20px;
  @include response-to(475px) {
    padding-top: 5px;
  }
}

.form-container {
  padding-bottom: 10px;
  padding-inline-start: 20px;
  padding-inline-end: 20px;
  max-width: 768px;
  margin: 0 auto;
  h2 {
    font: $headline4;
    color: white;
    padding-left: 10px;
    max-width: 280px;
    margin-bottom: 2px;
    background-color: $color-primary;
    box-shadow: -4px 4px 0px #ffffff;
  }
  p {
    font: $body1;
    color: white;
    text-align: center;
  }
  @include response-to(475px) {
    p {
      padding-top: 5px;
      font-size: 1.4rem;
      line-height: 1.5rem;
    }
    h2 {
      font-size: 2rem;
      line-height: 2.2rem;
    }
  }
}

.form {
  display: flex;
  flex-direction: column;
  font: $button;
  color: $color-primary;
  gap: 10px;

  %input {
    padding: 10px;
    border-radius: 10px;
    border: solid 2px #858c94;
  }

  input {
    @extend %input;
  }
  textarea {
    @extend %input;
  }
  @include response-to(475px) {
    padding-top: 0px;
    padding-bottom: 5px;
    textarea {
      height: 60px;
    }
    input {
      padding: 8px;
    }
  }
}
