.header {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1280px;
  margin: 0 auto;
  ul {
    display: none;
  }
  @include response-to(475px) {
    padding: 0 calc((100% - 280px) / 2);
  }
}
